.button-1A {
  background-color: antiquewhite;
  display: inline-block;
  padding: 10px 30px;
  border: solid black 1px;
}

.button-2A {
  background-color: antiquewhite;
  display: inline-block;
  padding: 10px 30px;
  border: solid black 1px;
  margin: 0px 20px;
}

.button-2B {
  background-color: antiquewhite;
  display: inline-block;
  padding: 10px 30px;
  border: solid black 1px;
  margin: 0px 20px;
}

.colorSwap {
  background-color: black;
  color: antiquewhite;
}
