.mobile-big {
  font-size: 20px;
}

.mobile-small {
  font-size: 10px;
}

.desktop-big {
  font-size: 30px;
  position: relative;
  bottom: 45px;
}

.desktop-big::before {
  content: "";
  background-color: salmon;
  width: 3px;
  height: 28px;
  position: absolute;
  top: 6px;
  left: -3px;
}

.desktop-small {
  font-size: 20px;
  position: relative;
  bottom: 50px;
}

@media (min-width: 800px) and (max-width: 3000px) {
  .mobile-big {
    opacity: 0;
  }
  .mobile-small {
    opacity: 0;
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  .desktop-big {
    opacity: 0;
  }
  .desktop-small {
    opacity: 0;
  }
}

.media-queries-element {
  background-color: aqua;
  border: solid 1px blue;
  padding: 20px;
  flex-grow: 1;
}

.container {
  display: flex;
}

@media (min-width: 0px) and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.media-queries-container-3 {
  display: flex;
  justify-content: space-around;
}

.mobile-menu {
  text-decoration: underline;
  position: relative;
  top: 10px;
}

@media (min-width: 0px) and (max-width: 800px) {
  .mobile-menu {
    display: block;
  }
  .media-queries-container-3 {
    display: none;
  }
}

@media (min-width: 800px) and (max-width: 3000px) {
  .mobile-menu {
    display: none;
  }
  .media-queries-container-3 {
    display: felx;
  }
}
